In [141]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [142]:
SalaryData=pd.read_csv("salaries.csv")
SalaryData

C:\Users\an973\AppData\Local\Temp\ipykernel_18084\2597133404.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  SalaryData=pd.read_csv("salaries.csv")

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

# Shape of our data set

In [143]:
print("There are",SalaryData.shape[0],"rows and ",SalaryData.shape[1],"columns")

There are 148654 rows and  13 columns

# Information about our data

In [144]:
#As we can see there are many rows filled with Not provided 
SalaryData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

# Checking for null values

In [145]:
SalaryData.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [146]:
# Also some rows have Not Provided instead of nan
SalaryData.replace(to_replace="Not Provided",value=np.nan,inplace=True)
SalaryData.replace(to_replace="Not provided",value=np.nan,inplace=True)

# Dropping unnecessary columns i.e ID,Notes, Agency and Status

In [147]:
SalaryData=SalaryData.drop(["Id","Notes","Agency","Status","Benefits"],axis=1)

# Droping rows that have NaN values

In [160]:
SalaryData=SalaryData.dropna(axis=0,how="any")
SalaryData

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...
148645,Carolyn A Wilson,Human Services Technician,0.0,0.0,0.0,0.00,0.00,2014
148647,Joann Anderson,Communications Dispatcher 2,0.0,0.0,0.0,0.00,0.00,2014
148648,Leon Walker,Custodian,0.0,0.0,0.0,0.00,0.00,2014
148649,Roy I Tillery,Custodian,0.0,0.0,0.0,0.00,0.00,2014
148653,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,-618.13,-618.13,2014

In [178]:
for i in SalaryData.loc[:,"BasePay":"TotalPayBenefits"]:
    SalaryData[i]=SalaryData[i].astype(float)

# Lets get all statistics of the data

In [265]:
SalaryData.iloc[:,:-1].describe()

,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits
count,148043.000000,148043.000000,148043.000000,148043.000000,148043.000000
mean,66325.398119,5086.501378,3645.655768,75057.555265,94037.888854
std,42764.898947,11473.068388,8019.552578,50410.007571,62683.725358
min,-166.010000,-0.010000,-7058.590000,-618.130000,-618.130000
25%,33587.350000,0.000000,0.000000,36956.850000,45074.275000
50%,65007.450000,0.000000,817.100000,71644.330000,92675.510000
75%,94691.050000,4695.180000,4242.855000,106028.000000,133085.380000
max,319275.010000,245131.880000,400184.250000,567595.430000,567595.430000

 # Occurence of the Employees  in the data 

 **I still don't get it why two a employee have multiple positions that too not 1 or 2   
 Kevin has 13 positions!!!!!**

In [215]:
SalaryData["EmployeeName"].value_counts()

EmployeeName
Kevin Lee        13
Steven Lee       11
William Wong     11
Richard Lee      11
KEVIN LEE         9
                 ..
MARTY ROSS        1
ELLEN MOFFATT     1
VENUS AZAR        1
JUDY MELINEK      1
GEORGE GARCIA     1
Name: count, Length: 110312, dtype: int64

# Lets get different positions

In [216]:
SalaryData["JobTitle"].unique().size #There are 2154 job positions in total
# or we can do
SalaryData["JobTitle"].nunique()

2154

# Number of people in different positions

In [217]:
SalaryData["JobTitle"].value_counts()
#There are 6975 Transit Operators

JobTitle
Transit Operator                  6975
Special Nurse                     4382
Registered Nurse                  3725
Public Svc Aide-Public Works      2514
Police Officer 3                  2411
                                  ...
Special Assistant 8                  1
Public Service Aide-Technical        1
Managing Attorney                    1
Civil Case Settlmnt Specialist       1
DEPUTY DIRECTOR OF INVESTMENTS       1
Name: count, Length: 2154, dtype: int64

# Jobs that contain Captain

In [222]:
SalaryData[SalaryData["JobTitle"].str.contains("CAPTAIN",case=False)] #551 posts

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,335279.91,335279.91,2011
11,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,297608.92,297608.92,2011
17,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,278569.21,278569.21,2011
22,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,273702.71,273702.71,2011
...,...,...,...,...,...,...,...,...
116604,Gregory L Stewart,"Captain, Fire Suppression",73355.21,18517.18,49917.73,141790.12,167398.89,2014
120867,Michael J Moran,Captain 3,7660.00,1496.09,126560.36,135716.45,137905.96,2014
122361,Michael V Rolovich,"Captain, Fire Suppression",0.00,0.00,130320.75,130320.75,130320.75,2014
126588,Stephen M Tittel,Captain 3,68491.89,0.00,23721.91,92213.80,111234.59,2014
132232,Jeanne M Seyler,"Captain, Fire Suppression",61039.43,2285.30,7548.29,70873.02,90986.78,2014

In [223]:
SalaryData["JobTitle"].str.contains("CAPTAIN",case=False).sum() #551 posts

np.int64(551)

In [ ]:
# Name of all employees that works in FIRE DEPARTMENT

In [243]:
SalaryData["EmployeeName"][SalaryData.JobTitle.str.contains("FIRE",case=False)].values

array(['PATRICK GARDNER', 'ALSON LEE', 'MICHAEL MORRIS', ...,
       'Kari A Johnson', 'Sheryl K Lee', 'Lawrence F Gatt'], dtype=object)

# Lets get average salary of a Fire Department Employee

In [244]:
SalaryData["BasePay"][SalaryData.JobTitle.str.contains("FIRE",case=False)].mean()

np.float64(109991.6543325367)

**On average a fire department employee earns 109991 dollars**

# Minimum Maximum and Average BasePay

In [245]:
SalaryData.BasePay.describe().loc[["min","max","mean"]]

min       -166.010000
max     319275.010000
mean     66325.398119
Name: BasePay, dtype: float64

# Get job title of Albert Pardni

In [257]:
Data=SalaryData[SalaryData.EmployeeName=="ALBERT PARDINI"]
Data

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,335279.91,335279.91,2011

# Get total salary of ALBRT PARDINI  including benefits

In [260]:
Data.TotalPayBenefits

2    335279.91
Name: TotalPayBenefits, dtype: float64

# Who is having the highest BasePay

In [263]:
SalaryData[SalaryData.BasePay==SalaryData.BasePay.max()]

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,TotalPay,TotalPayBenefits,Year
72925,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,339282.07,425815.28,2013

**Gregory P Suhr takes the atmost base salary 425815 Dollar**

# Average Basepay of employees in each Year

In [289]:
SalaryData.groupby("Year")["BasePay"].mean()

Year
2011    63596.112293
2012    65435.950986
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

# Average Basepay of employees of each title

In [290]:
SalaryData.groupby("JobTitle")["BasePay"].mean()

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2154, dtype: float64

# Average BasePay of Employees as ACCOUNTANT

In [292]:
SalaryData.groupby("JobTitle")["BasePay"].mean()["ACCOUNTANT"]

np.float64(46643.172)

# Top 5 Most common Jobs

In [310]:
SalaryData.JobTitle.value_counts().head()

JobTitle
Transit Operator                6975
Special Nurse                   4382
Registered Nurse                3725
Public Svc Aide-Public Works    2514
Police Officer 3                2411
Name: count, dtype: int64